<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Listado de supplier</title>
</head>
<body>

<div class="container">
    <h3>Listado de supplier</h3>
    <div class="col-md-12" >
        <a th:href="@{/supplier/add}" class="btn btn-primary">Agregar supplier</a>
    </div>

    <div th:switch="suppliers">
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">RUC</th>
                    <th scope="col">Name</th>
                    <th scope="col">ContactEmail</th>
                    <th scope="col">ContactMobielPhone</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${supplier}">
                    <th scope="row" th:text="${supplier.ruc}"></th>
                    <td th:text="${supplier.name}"></td>
                    <td th:text="${supplier.contactEmail}"></td>
                    <td th:text="${supplier.contactMobielPhone}"></td>

                    <td class="text-right">
                        <div class="btn-group">
                            <a th:href="@{/student/edit/{dni} (dni=${supplier.ruc}) }"
                                    class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/student/delete/{dni} (id=${supplier.ruc}) }"
                                    class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>