<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Agregar Producto</title>
</head>
<body>

<div class="container">
    <h3>Agregar Products</h3>
    <div>

        <form action="#" method="post"
            th:object="${product}"
            th:action="@{/products/save}">

            <div class="form-group">
                <label for="sku">SKU</label>
                <input type="text" id="sku"
                       class="form-controller"
                       placeholder="ingrese SKU"
                       th:field="*{sku}">
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name"
                       class="form-controller"
                       placeholder="ingrese nombre"
                       th:field="*{name}">
            </div>

            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="text" id="stock"
                       class="form-controller"
                       placeholder="ingrese el stock"
                       th:field="*{stock}">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price"
                       class="form-controller"
                       placeholder="ingrese el price"
                       th:field="*{price}">
            </div>

            <button type="submit" class="btn btn-primary">
                Agregar Producto
            </button>

        </form>

    </div>
</div>


</body>
</html>